<body>
    <header class="header">TROLL</header>

<div class="container">
    <h2>left arm</h2>
<img  class="part" src="https://cdn.leonardo.ai/users/073e089f-2757-403b-8f4d-7e9b51daa08c/generations/88136066-c917-46b8-a4b1-49ffbfa64cba/Leonardo_Diffusion_XL_creates_an_image_of_just_a_bottomless_tr_2.jpg" alt="images?q">
    <img class="part2" src="https://c8.alamy.com/compes/dwe1ta/close-up-de-un-joven-bornean-el-brazo-orangutan-pongo-pygmaeus-de-18-meses-contra-el-fondo-blanco-dwe1ta.jpg">
</div>


</body>